.button{
  padding:15px;
  border:none;
  border-radius:5px;
  margin:10px;
  &:hover{
    cursor:pointer;
  }
  &.green{
    background-color:green;
    color:white;
  }
  &.red{
    background-color:red;
    color:white;
  }
}
