.about {
  background-color: #272727;
}

.text {
  margin: 10px 0;
  line-height: 22px;
  font-size: 13px;
}

.item {
  font-size: normal;
}

.content {
  width: 100%;
    @include clearfix;
}

.intro,
.main,
.skills {
  width: 33.3333%;
  float: left;
  border: 1px solid red;
}

.intro {
  font-size: 60px;
  font-weight: 300;
  line-height: normal;
  color: white;
  font-family: Lato, Helvetica, sans-serif;
}

.main {
  color: #939393;
  font-size: 14px;
  line-height: 25px;
}
.clients{
  margin-top:50px;
  width:auto;
  @include clearfix;
}

@include media ('zerro','md-tablet') {
  .intro,
  .main,
  .skills {
    width: 100%;
    border: 1px solid red;
  }
}
