



@keyframes expanded {
  0% {
    transform: translateY(-100%);
    //margin-bottom:-100%;
  }
  100% {
    transform: none;
    //margin-bottom:100%;
  }
}
@keyframes collapsed {
  0% {
    transform: none;
    //  margin-bottom:100%;
  }
  100% {
    transform: translateY(-100%);
    //  margin-bottom:-100%;

  }
}


.navigation {
  border: 1px solid black;
  font-size: 0;
  @include clearfix;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  &.initial {
    font-size:0;
  }
  &.expanded{
    .nav{
        animation-name:none;
    }
  }
}
.nav {
  width: 70%;
  float: left;
  overflow: hidden;
  will-change:transform,opacity;
  &.willChange{
    will-change:transform,opacity;
  }
  &.auto{
    will-change:auto;
  }
}



.back {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  display: none;
}

.navitem {
  border: 1px solid black;
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  width: 16.6666%;
  text-align: center;
}

.hamburger {
  border: 1px solid black;
  display: inline-block;
  display: none;
}

.logo {
  border: 1px solid red;
  width: 30%;
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  float: left;
  z-index: 2;
  position: relative;
}


@include media ('zerro','sm-phone') {
  .back {
    display: block;
  }
  .nav {
    float: none;
    top: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateY(-100%);
  //  margin-bottom:-100%;
  }

  .navigation {

    &.collapsed {
      .nav {
        animation-name: collapsed;
        animation-delay: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }

    &.expanded {
      .nav {
        border: 2px solid purple;
        animation-name: expanded;
        animation-delay: 0.1s;
        animation-duration: 1s;
        animation-fill-mode: forwards,none;
      }
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .navitem {
    display: block;
    width: 100%;
  }
}
