



@keyframes expanded {
  0% {
  max-height:0;
  }
  100% {
  max-height:900px;
  }
}
@keyframes collapsed {
  0% {
        max-height:900px;
  }
  100% {
      max-height:0;
  }
}


.navigation {
  border: 1px solid black;
  font-size: 0;
  @include clearfix;
  margin: 0 auto;
  position: fixed;
  overflow:hidden;
  width:100%;
  z-index:1;
  top:0;
  background-color:white;
  &.initial {
    font-size:0;
  }
  &.expanded{
    .nav{
        animation-name:none;
    }
  }
}
.nav {
  width: 70%;
  float: left;
  overflow: hidden;
  z-index:3;
  &.willChange{
    will-change:margin-bottom;
  }
  &.auto{
    will-change:auto;
  }
}


.navitem {
  border: 1px solid black;
  display: inline-block;
  font-size: 14px;

  width: 16.6666%;
  text-align: center;
  @include linkReset{
    color:black;
    text-decoration: none;
  }
  &:hover{
    background-color:#fc6d6d;
  }
  a{
    padding: 10px 15px;
    width:100%;
    display:inline-block;
  }
}

.hamburger {
  border: 1px solid black;
  display: inline-block;
  display: none;
}

.logo {
  border: 1px solid red;
  width: 30%;
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  float: left;
  z-index: 2;
  position: relative;
}


@include media ('zerro','lg-phone') {
  .back {
    display: block;
  }
  .nav {
    float: none;
    width: 100%;
    position: relative;
    left: 0;
    max-height:0;
  }

  .navigation {
    position:relative;

    &.collapsed {
      .nav {
        animation-name: collapsed;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }

    &.expanded {
      .nav {
        border: 2px solid purple;
        animation-name: expanded;
        animation-duration: 1s;
        animation-fill-mode: forwards;

      }
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 2px;
    right: 16px;
    z-index: 2;
  }

  .navitem {
    display: block;
    width: 100%;
  }
}
