.header {
  width: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  &-content {
    width: 100%;
    padding: 285px 0 210px;
  }
}

.heading {
  z-index: 0;
  color: #fff;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", Helvetica, sans-serif;
  width: 75%;
  margin: 0 auto;
}

.align {
  text-align: center;
}


@include media ('zerro','lg-phone') {
  .header-content {
    padding: 40% 0;
  }
}


@include media ('zerro','sm-phone') {
  .heading {
    @include fontSize(20px,30px);
  }
}


@include media ('sm-phone','md-phone') {
  .heading {
    @include fontSize(35px,45px);
  }
}


@include media ('md-phone','lg-phone') {
  .heading {
    @include fontSize(45px,55px);
  }
}
