.translatedx {
  transition: transform 1s ease;

  &.collapsed {
  transition: transform 1s ease;
      transform: translateY(-240px);
  }
  &.expanded {
    transform: translateY(0);
  }
  &.initial{
    color:black;
    transition:none;
    transform: translateY(-240px);
  }
}
